html {
    -ms-touch-action: none;
}

body,
canvas,
div {
    display: block;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Remove spin of input type number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: default;
    color: #888;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* fix bug: https://github.com/cocos-creator/2d-tasks/issues/791 */
    /* overflow cannot be applied in Cocos2dGameContainer, 
  otherwise child elements will be hidden when Cocos2dGameContainer rotated 90 deg */
    overflow: hidden;
}

#Cocos2dGameContainer {
    position: absolute;
    margin: 0;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

canvas {
    background-color: rgb(255, 255, 255);
}

a:link,
a:visited {
    color: #666;
}

a:active,
a:hover {
    color: #666;
}

p.header {
    font-size: small;
}

p.footer {
    font-size: x-small;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff url(./splash.png) no-repeat center;
    background-size: 45%;
}

.progress-bar {
    position: absolute;
    left: 27.5%;
    top: 80%;
    height: 3px;
    padding: 2px;
    width: 45%;
    border-radius: 7px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    transition: width .4s ease-in-out;
    background-color: #3dc5de;
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    animation: animate-stripes 1s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

.videobtnscontainer {
    position: absolute;
    /* bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end; */
    width: 615px;
    height: 677px;
}

.videobtnscontainer>* {
    flex: 1 1 auto;
    max-width: fit-content;
    max-height: fit-content;
}

.videoplayer {
    order: 1;
    padding-top: 50px;
}

.microphoneon {
    background-image: url(./microOn.png);
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
    height: 81px;
    width: 81px;
    vertical-align: middle;
    left: 10%;
    bottom: -5%;
    outline: none;
    transform: scale(0.5)
}

.microphoneoff {
    background-image: url(./microOff.png);
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
    height: 81px;
    width: 81px;
    vertical-align: middle;
    left: 10%;
    bottom: -5%;
    outline: none;
    transform: scale(0.5)
}

.videoon {
    position: absolute;
    background-image: url(./VideoON1.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
    height: 81px;
    width: 81px;
    vertical-align: middle;
    left: 30%;
    bottom: -5%;
    outline: none;
    transform: scale(0.5)
}

.videooff {
    background-image: url(./VideoOff.png);
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
    height: 81px;
    width: 81px;
    vertical-align: middle;
    left: 30%;
    bottom: -5%;
    outline: none;
    transform: scale(0.54)
}

.leave {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./leave.png);
    background-size: cover;
    position: absolute;
    bottom: -10%;
    right: 45%;
}


/********************************************/

.videopanelactive {
    z-index: 1;
    height: 33%;
    border-radius: 20px;
}

.gamepanelactive {
    z-index: 1;
}

.videopaneldeactive {
    z-index: -1;
}

.gamepaneldeactive {
    z-index: -1;
}

.hidden {
    visibility: hidden
}

.videoclose {
    position: relative;
    top: 5%;
    left: 5%;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./leave.png);
    background-size: cover;
}

.closeBtnBlack {
    top: 5%;
    left: 5%;
    color: black;
    position: absolute;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: x-large;
}

.closeBtnWhite {
    top: 5%;
    left: 5%;
    color: white;
    position: absolute;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: x-large;
}

@media screen and (orientation:portrait) {
    .videocontainer {
        position: absolute;
        width: 50%;
        height: 33%;
        right: 0%;
        top: 50%;
    }
    .peercontainer {
        height: 100%;
        width: 100%;
    }
    .mycontainer {
        height: 30%;
        width: 30%;
        right: 5%;
        bottom: 0%;
        position: absolute;
    }
    .peervideo {
        position: relative;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 0px 175px rgb(0, 0, 0);
    }
    .myvideo {
        position: relative;
        width: 100%;
        border-radius: 20px;
    }
}


/* Landscape */

@media screen and (orientation:landscape) {
    .videocontainer {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        grid-auto-rows: 50%;
        /* position: absolute;
    flex-flow: row wrap;
    justify-content: center; */
        min-width: 100%;
        min-height: 100%;
    }
    .videoitem6_1 {
        overflow: hidden;
        position: relative;
        grid-row: 1;
        grid-column: 1;
    }
    .videoitem6_2 {
        overflow: hidden;
        position: relative;
        grid-row: 1;
        grid-column: 2;
    }
    .videoitem6_3 {
        overflow: hidden;
        position: relative;
        grid-row: 1;
        grid-column: 3;
    }
    .videoitem6_4 {
        overflow: hidden;
        position: relative;
        grid-row: 2;
        grid-column: 1;
    }
    .videoitem6_5 {
        overflow: hidden;
        position: relative;
        grid-row: 2;
        grid-column: 2;
    }
    .videoitem6_6 {
        overflow: hidden;
        position: relative;
        grid-row: 2;
        grid-column: 3;
    }
    .video {
        position: relative;
        height: 100%;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(0, 110, 255);
    }
}